.l1-heading 
	background-color: var(--background-shade-light-grey)
	border: 1px solid var(--background-shade-light-grey)
	border-radius: var(--rounded-corner-border-radius)
	border-spacing: 0
	padding: 0px 10px 0px  
	border-radius: 20px
	display: flex
	flex-direction: column
	margin: 20px 0px

.certification-report
	margin-bottom: 10px
	
.Mtable .total-row
	font-weight: bold
	
.Mtable .total-row.light-blue-bg
	background-color: var(--background-shade-blue)