.report-score-container
  background-color: var(--background-shade-light-grey)
  border: 1px solid var(--background-shade-light-grey)
  border-radius: var(--rounded-corner-border-radius)
  border-spacing: 0
  padding: 20px 20px 20px
  border-radius: 50px
  display: flex
  flex-direction: column
  margin-top: 10px
  width: 100%
  
table
  background: #E0EBF2
  border: 1px solid var(--background-shade-dark-grey)
  border-radius: var(--rounded-corner-border-radius)
  width: 100%
  padding: 0
  border-spacing: 0
  font-weight: 500
  overflow: hidden
  color: #000
  text-align: center
  
  thead
    tr:nth-child(odd)
      background-color: #E0EBF2

    tr:nth-child(even)
      background-color: var(--white)

  td
    color: #37393A
    font-weight:400
    font-zise:14px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  
  th
    border-bottom: 1px solid var(--border-light-grey)
    padding: 10px
    text-align: center
    color: #37393A
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  
  th.merging
    text-align: center
  
  th.merging:nth-child(1n+2), th.merging:nth-child(4n+1)
    border-left: 1px solid #37393A

  tbody
    tr:nth-child(odd)
      background-color: var(--background-shade-blue)

    tr:nth-child(even)
      background-color: var(--white)

    tr:hover
      background-color: var(--background-shade-dark-grey)

    tr.subrow-void-records,tr.subrow-total-submitted-amount
      background-color: #a6d9e9

    tr.subrow-void-records
      td:first-child
        border-left: 10px solid white

      td:last-child
        border-right: 10px solid white

    tr.subrow-total-submitted-amount
      td
        border-bottom: 10px solid white

      td:first-child
        border-bottom-left-radius: 20px
        border-left: 10px solid white

      td:last-child
        border-bottom-right-radius: 20px
        border-right: 10px solid white

    th,
    td.max-width
      max-width: 120px

    th:nth-child(3n+4),
    td:nth-child(3n+4)
      border-left: 1px solid #37393A

    td
      padding: 10px

.L2-status
  float: right
  right: 0
  display: flex
  align-items: center

.approver-textarea
  margin-left: 80px
  margin-right: 60px

.date-textarea
  margin-left: 233px
  margin-right: 60px

.button-approve
  background-color: var(--primary-blue-dark)
  float: right
  right: 120px
  margin-right: 62px
  margin-top: 20px

.approver
  padding: 20px

.filter-score-container
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.reports-update
  display: flex
  flex-direction: row-reverse 
  width: 100%
  justify-content: space-between
