table
  background-color: #fff
  margin: 8px
  padding: 0
  border: 1px solid var(--border-light-grey)
  border-radius: var(--rounded-corner-border-radius)
  border-spacing: 0
  font-weight: 500
  overflow: hidden

  th
    border-bottom: 1px solid var(--border-light-grey)
    padding: 20px
    text-align: left

  th,
  td
    color: rgba(0, 2, 3, 0.5)

  tbody
    tr:nth-child(even)
      background-color: #edf2f6

    tr:hover
      background-color: #d6f2ff
    
    td
      padding: 10px

      &:first-child
        border-left: 4px solid var(--white)
        
      &:last-child
        border-right: 4px solid var(--white)
