
####################################################################

# WhiteSource FS-Agent configuration file

####################################################################

checkPolicies=false

forceCheckAllDependencies=false

forceUpdate=false

offline=false

 

#ignoreJavaScriptFiles=false

#projectPerFolder=true

 

#wss.connectionTimeoutMinutes=60

#npm.resolveDependencies=false

#npm.includeDevDependencies=false

#bower.resolveDependencies=false

#maven.ignoredScopes=test provided

maven.resolveDependencies=false

#maven.aggregateModules=false

##################################

# Organization tokens:

##################################

apiKey=fcb0a7a7e4124cffb96935bd2a86f4a0da8d59ca4a3147ab9dfcbdc979bac266


projectName=Automation-UI

projectVersion=1.0

projectToken=
 

productName=NDW-L2-Validation

productVersion=1

productToken=

#updateType=APPEND

#requesterEmail=user@provider.com

  

#########################################################################################

# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE

#########################################################################################

#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx

includes=**/*.m **/*.mm  **/*.js **/*.php

#includes=**/*.jar

#includes=**/*.gem **/*.rb

#includes=**/*.dll **/*.cs **/*.c#  **/*.csharp 

#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 

#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py

excludes=**/*sources.jar **/*javadoc.jar **/*starter*.jar

case.sensitive.glob=false

followSymbolicLinks=true

  

##################################

# Archive Properties

##################################

archiveExtractionDepth=2

archiveIncludes=**/*.war **/*.ear **/*.jar

#archiveExcludes=**/*sources.jar

  

##################################

# Proxy settings

##################################

#proxy.host=

#proxy.port=

#proxy.user=

#proxy.pass=

  

##################################

# SCM settings

##################################

#scm.type=

#scm.user=

#scm.pass=

#scm.ppk=

#scm.url=

#scm.branch=

#scm.tag=
