nav
  background-color: #098BC9
  color: #fff
  display: flex
  flex-direction: column
  align-items: center
  position: fixed
  left: 0
  top: 0
  bottom: 0
  height: 100%
  width: 72px

  img
    margin-bottom: 100px
    width: 40px

  .home-link
    cursor: pointer
    margin-top: 200px