nav
  background-color: #098BC9
  color: #fff
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 200px
  position: fixed
  left: 0
  top: 0
  bottom: 0
  height: 100%
  width: 72px

  a
    margin-bottom: 140px
  
  img
    filter: brightness(0) invert(1)
    width: 40px

  .active
    filter: none
