<nav>
  <!-- <div class="container">
    <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
      <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none;"></path>
    </svg>
  </div> -->
  <!-- <a class="plans-link" routerLink="/plans" routerLinkActive="active">
    <div class="container">
      <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
        <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none;">
        </path>
      </svg>
      <img src="assets/img/home.png" />
    </div>
  </a>
  <a class="clipboard-link" routerLink="/clipboard" routerLinkActive="active">
    <img src="assets/img/clipboard.png">
  </a>
  <a class="dashboard-link" routerLink="/dashboard" routerLinkActive="active">
    <img src="assets/img/graph.png">
  </a> -->
  <a class="plans-link" routerLink="/plans" routerLinkActive="active">
    <img src="assets/img/home.png">
  </a>
  <a class="clipboard-link" routerLink="/clipboard" routerLinkActive="active">
    <img src="assets/img/clipboard.png">
  </a>
  <a class="dashboard-link" routerLink="/dashboard" routerLinkActive="active">
    <img src="assets/img/graph.png">
  </a>
</nav>


<!-- .home-link
border-radius: 50px
cursor: pointer
margin-top: 200px
position: absolute -->