<app-navbar></app-navbar>

<div class="plans-table">
  <div class="search-container">
    <div class="table-title">
      NDW - Summary Page
    </div>
    <div class="search">
      <div>
        <ng-select class="custom" [(ngModel)]="selectedSubmissionGroupOption" placeholder="Submission Group" (change)="handleSearchFilterChange('submissionGroup', selectedSubmissionGroupOption)">
          <ng-option
            *ngFor="let submissionGroupOption of options.submissionGroupOptions"
            [value]="submissionGroupOption"
          >
            {{submissionGroupOption}}
          </ng-option>
        </ng-select>
        
        <ng-select class="custom" [(ngModel)]="selectedPaidThroughPeriodOption" placeholder="Paid Through Period" (change)="handleSearchFilterChange('paidThroughPeriod', selectedPaidThroughPeriodOption)">
          <ng-option *ngFor="let paidThroughPeriodOption of options.paidThroughPeriodOptions" [value]="paidThroughPeriodOption">
            {{paidThroughPeriodOption || getCurrentPaidDate()}}
          </ng-option>
        </ng-select>
  
        <ng-select class="custom" [(ngModel)]="selectedSubmissionState" placeholder="Submission Current State" >
          <ng-option *ngFor="let submissionCurrentStateOption of options.submissionCurrentStateOptions" [value]="submissionCurrentStateOption">
            {{submissionCurrentStateOption}}
          </ng-option>
        </ng-select>
  
        <ng-select class="custom last-select" [(ngModel)]="selectedCategory" placeholder="Category" >
          <ng-option *ngFor="let categoryOption of options.categoryOptions" [value]="categoryOption">
            {{categoryOption}}
          </ng-option>
        </ng-select>
  
        <ng-select class="custom last-select" [(ngModel)]="selectedStatus" placeholder="Submission Status" >
          <ng-option *ngFor="let statusOption of options.statusOptions" [value]="statusOption">
            {{statusOption}}
          </ng-option>
        </ng-select>
        <div class="search-btn" (click)="search()">
          <img src="assets/img/search.png" >
        </div>
      </div>
    </div>
  </div>
  
  

  <table>
    <colgroup span="12"></colgroup>
    <thead>
      <tr>
        <th *ngFor="let header of headers; index as i;" (click)="sortByColumn(header)">
          <p>{{header}}</p>
          <img *ngIf="selectedSortingColumn === header" src="assets/img/show-more.png" [ngClass]="[sortIsAscending ? 'ascending sorted-column-arrow' : 'sorted-column-arrow']"/>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plan of plans | planFilter:selectedSubmissionState:selectedCategory:selectedStatus; index as i;">
        <td>{{plan.submissionGroup}}</td>
        <td class="left-aligned">{{plan.planName}}</td>
        <td>{{plan.paidThroughPeriod}}</td>
        <td>
          <a routerLink="/plans/{{plan.submissionControl}}" target='_blank' rel='noopener noreferrer'>
            {{plan.submissionControl}}
          </a>
        </td>
        <td>{{plan.submissionReceivedDate | date:'MM/dd/yyyy'}}</td>
        <td>{{plan.category}}</td>
        <td>{{plan.mode}}</td>
        <td>{{plan.status}}</td>
        <td>{{plan.submissionCurrentState}}</td>
        <td>{{plan.lastUpdated | date:'MM/dd/yyyy h:mm a'}}</td>
        <td>{{plan.planValidationDueDate | date:'MM/dd/yyyy'}}</td>
        <td *ngIf="plan.score !== undefined" [ngClass]="{'green': plan.score === 0, 'yellow': plan.score > 0 && plan.score < 1, 'red':  plan.score >= 1}">
          <p>{{plan.score}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="(!plans || !plans.length) && isSearching" class="no-results-msg">No plans match your search</div>
</div>