<div class="plans-container">
  <div class="search-container">
    <h4>NDW - Summary Page</h4>
    <div class="search">
      <div>
        <ng-select class="custom" [(ngModel)]="submissionType" placeholder="Submission Type" 
        (change)="handleSearchFilterChange('submissionType')" [clearable]="false" [editableSearchTerm]="true">
          <ng-option
            *ngFor="let submissionType of options.submissionTypes; trackBy:trackByFn"
            [value]="submissionType" (change)="getPlans()">
            {{submissionType}}
          </ng-option>
        </ng-select>

        <ng-select class="custom" [(ngModel)]="selectedSubmissionGroupOption" placeholder="Submission Group" (change)="handleSearchFilterChange('submissionGroup')"
        [editableSearchTerm]="true">
          <ng-option
            *ngFor="let submissionGroupOption of options.submissionGroupOptions; trackBy:trackByFn"
            [value]="submissionGroupOption">
            {{submissionGroupOption}}
          </ng-option>
        </ng-select>

        <mat-form-field class="paid-through-form-field">
          <input (blur)="handleDateInputBlur()" (change)="handleSearchFilterChange('paidThroughPeriod', $event)" [max]="mostRecentPaidPeriod" 
          #dpInput matInput [matDatepicker]="dp" placeholder="Paid Through Period" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp (monthSelected)="monthSelected($event, dp, dpInput)" startView="multi-year"></mat-datepicker>
        </mat-form-field>

        <ng-select class="custom xllarge" [(ngModel)]="selectedSubmissionState" placeholder="Submission Current State" [editableSearchTerm]="true">
          <ng-option *ngFor="let submissionCurrentStateOption of options.submissionCurrentStateOptions; trackBy:trackByFn" [value]="submissionCurrentStateOption">
            {{submissionCurrentStateOption}}
          </ng-option>
        </ng-select>
  
        <ng-select class="custom small last-select" [(ngModel)]="selectedCategory" placeholder="Category" [editableSearchTerm]="true">
          <ng-option *ngFor="let categoryOption of options.categoryOptions; trackBy:trackByFn" [value]="categoryOption">
            {{categoryOption}}
          </ng-option>
        </ng-select>
  
        <ng-select class="custom last-select" [(ngModel)]="selectedStatus" placeholder="Submission Status" [editableSearchTerm]="true">
          <ng-option *ngFor="let statusOption of options.statusOptions; trackBy:trackByFn" [value]="statusOption">
            {{statusOption}}
          </ng-option>
        </ng-select>
      </div>
    </div>
  </div>
  
  <div class="plans-table-container">
    <table >
      <thead>
        <tr>
          <th *ngFor="let header of headers;trackBy:trackByFn; index as i" (click)="sortByColumn(header)">
            <p>{{header}}</p>
            <img *ngIf="selectedSortingColumn === header" src="assets/img/show-more.png" [ngClass]="[sortIsAscending ? 'ascending sorted-column-arrow' : 'sorted-column-arrow']"/>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plans | planFilter:selectedSubmissionState:selectedCategory:selectedStatus; trackBy:trackByFn ; index as i">
          <td>{{plan.submissionGroup}}</td>
          <td class="center-aligned">{{plan.planName}}</td>
          <td>{{plan.paidThroughPeriod}}</td>
          <td>
            <a routerLink="/plans/{{plan.submissionControl}}/{{submissionType}}" target='_blank' rel='noopener noreferrer'>
              {{plan.submissionControl}}
            </a>
          </td>
          <td>{{plan.submissionReceivedDate | date:'MM/dd/yyyy'}}</td>
          <td>{{plan.category}}</td>
          <td>{{plan.mode}}</td>
          <td>{{plan.status}}</td>
          <td>{{plan.submissionCurrentState}}</td>
          <td>{{plan.lastUpdated | date:'MM/dd/yyyy h:mm a'}}</td>
          <td>{{plan.planValidationDueDate | date:'MM/dd/yyyy'}}</td>
          <td *ngIf="plan.score !== undefined" [ngClass]="{'green': plan.score === 0, 'yellow': plan.score > 0 && plan.score < 1, 'red':  plan.score >= 1}">
            <p>{{plan.score}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="(!plans || !plans.length) && isSearching" class="no-results-msg">No plans match your search</div>
</div>
