.l1-heading 
    background-color: var(--background-shade-light-grey)
    border: 1px solid var(--background-shade-light-grey)
    border-radius: var(--rounded-corner-border-radius)
    border-spacing: 0
    padding: 0px 10px 0px  
    border-radius: 20px
    display: flex
    flex-direction: column
    margin: 20px 0px

.flag-menu
  position: absolute
  right: 80px
  top: 350px
  display: flex
  flex-direction: column
  border-radius: var(--corner-border-radius)
  background-color: var(--dark-blue-bg)
  color: var(--white)
  padding: 0 8px
  width: 280px
  font-size: 16px
  font-weight: bold

  span
    padding: 8px

    p
      border-radius: var(--rounded-corner-border-radius)
      padding: 16px 32px
      margin: 0
      cursor: pointer

      &:hover,
      &.active
        background-color: var(--primary-blue-dark)

  span:not(:nth-child(0))
    border-bottom: 1px solid var(--background-shade-dark-grey)