.l1-heading 
    background-color: var(--background-shade-light-grey)
    border: 1px solid var(--background-shade-light-grey)
    border-radius: var(--rounded-corner-border-radius)
    border-spacing: 0
    padding: 0px 10px 0px  
    border-radius: 20px
    display: flex
    flex-direction: column
    margin: 20px 0px

.certification-report
    margin-bottom: 10px
        
.flag-button-scrollup
    box-shadow:1px 1px 1px
    width: 40px
    position: fixed
    border-radius: 50%
    margin-top: 3px
    background-color: white
    box-shadow: 2px 2px 2px #ccc
    height: 40px
    border: 0.1px solid #ccc
    right:56px

.flag-menu
  position: fixed
  top: 313px
  display: flex
  flex-direction: column
  border-radius: var(--corner-border-radius)
  background-color: var(--background-shade-light-grey)
  color: var(--white)
  padding: 4px 9px
  width: auto
  font-size: 16px
  font-weight: bold
  float: right
  right: 7px

.flag-button-scrolldown-l1
    top:270px
    width: 35px
    position: fixed
    border-radius: 50%
    margin-top: 3px
    background-color: white
    right: 12px
    box-shadow: 2px 2px 2px #ccc
    height: 37px
    border: 0.1px solid #ccc

.flag-menu-scrollup
  position: fixed
  right: 51px
  top: 320px
  display: flex
  flex-direction: column
  border-radius: var(--corner-border-radius)
  background-color: var(--background-shade-light-grey)
  color: var(--white)
  padding: 4px 9px
  width: auto
  font-size: 16px
  font-weight: bold
  float: right

span
  padding:8px
  &:not(:last-child)
    border-bottom : 1px solid #ccc

.flag-selection
  transition: transform 2s
  
.flag-img
  margin-top:10px






