nav
  background-color: transparent
  color: var(--white)
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 80px
  position: fixed
  left: 10px
  top: 40px
  bottom: 40px
  max-height: calc(100% - 40px)
  width: 80px

  a
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 60px
    height: 100px
    min-height: 80px
    width: 80px

  img
    filter: brightness(0) invert(1)
    width: 30px
    margin-bottom: 17px
    margin-left: 13px

  .active
    // background: white
    // border-radius: var(--round-border-radius) 0 0 var(--round-border-radius)
    margin-right: -32px
    background-image: url('/assets/img/Subtraction 1.svg')
    background-size: 43%
    background-repeat: no-repeat
    display: flex
    flex-wrap: wrap
    background-size: 45px 118px
    background-position-y: -13px
    background-position-x: 26px
    margin-left: 9px

    img
      filter: none
