nav
  background-color: transparent
  color: var(--white)
  display: flex
  flex-direction: column
  //align-items: center
  padding-top: var(--80px)
  position: fixed
  //left: var(--25px)
  left: 12px
  top: var(--40px)
  bottom: var(--40px)
  max-height: calc(100% - var(--40px))
  width: var(--80px)

  a
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 3.75rem
    height: var(--100px)
    min-height: var(--80px)
    width: var(--80px)

  img
    filter: brightness(0) invert(1)
    width: 1.875rem
    margin-bottom: 17px
    //margin-left: 18px
    //margin-bottom: 10px

  .active
    // background: white
    // border-radius: var(--round-border-radius) 0 0 var(--round-border-radius)
    margin-right: -23px
    background-image: url('/assets/img/Subtraction 1.svg')
    background-size: 65%
    background-repeat: no-repeat
    display: flex
    flex-wrap: wrap
    //background-size: 39px 7.375rem
    background-position-y: -13px
    background-position-x: var(--26px)

    > img
      margin-left: 18px
    

    img
      filter: none