
:host
  .app-container
    background-color: var(--primary-blue-dark)
    border-radius: var(--rounded-corner-border-radius)
    min-height: 100%
    width: calc(100% - 40px)

  .main-container
    border-radius: var(--rounded-corner-border-radius)
    background-color: var(--white)
    min-height: 100vh
    width: calc(100% - 60px)
    margin-left: 80px
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    padding-top: 110px

    &.hidden-nav-margin
      margin-left: 0
      min-height: calc(100vh - 120px)
      width: calc(100vw - 20px)

  p
    margin: 0

  .spacer
    flex: 1

  .toolbar
    border-radius: 25px 25px 25px 25px
    position: absolute
    top: 10px
    right: 10px
    left: 128px
    height: 110px
    display: flex
    align-items: center
    color: white
    font-weight: 600
    z-index: 3

    #logo
      margin-right: 120px
      height: 41px
      width: 280px

    .user-dd
      background-color: #E6EFF3
      border-radius: var(--rounded-corner-border-radius)
      display: flex
      font-weight: lighter
      overflow: hidden
      position: absolute
      right: 40px
      width: 476px
      height: 99px
      margin-top: 23px

      > div:first-child
        background-color: var(--secondary-blue)
        border-radius: var(--corner-border-radius)
        flex-basis: 65%
        padding: 23px

        h3
          font-size: 26px
          margin: 0px 0

        h6
          font-size: 13px
          margin: 4px 0

      > div:last-child
        align-items: center
        background-color: #E6EFF3
        display: flex
        flex-basis: 35%
        justify-content: center

      .user-dd-triangle
        height: 40px
        width: auto
        margin-left: -73px

      .user-photo
        border-radius: var(--round-border-radius)
        height: 40px
        margin: 0 6px 0 20px

      .user-dd-arrow
        height: 5px
        margin-left: 6px

  .main-container.hidden-nav-margin .toolbar
    left: 130px

  @media screen and (max-width: 760px)
    .toolbar .user-dd
      display: none
