:host
  .spacing-wrapper
    padding: 10px
    min-height: calc(100% - 20px)
    display: flex

  .app-container
    background-color: var(--primary-blue-dark)
    border-radius: var(--rounded-corner-border-radius)
    display: flex
    min-width: 1240px
    flex-grow: 1

    &.hidden-nav
      background-color: var(--white)

  .main-container
    border-radius: var(--rounded-corner-border-radius)
    background-color: var(--white)
    width: calc(100% - 50px)
    margin-left: 58px
    display: flex
    flex-direction: column
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    padding: 10px 35px
    gap: 10px

    &.hidden-nav-margin
      margin-left: 0
      width: 100%

  p
    margin: 0

  .spacer
    flex: 1

  .toolbar
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: solid 1px #d1d1d1
    padding-bottom: 10px


    #logo
      margin-left: 4.5rem
      height: 30px
      max-height: 40px

  .main-container.hidden-nav-margin
    left: 130px

  footer
    bottom: 0 
    color: #ADADAD 
    opacity: 1 
    font-size: 12px

    &.hidden-nav-margin
      margin-left: 40px

  @media screen and (max-width: 760px)
    .toolbar .user-dd
      display: none

.user-dd
  width: auto 
  align-items: center 
  max-width: 404px 
  display: flex 
  border-radius: var(--rounded-corner-border-radius) 

  .wlc-msg
    padding: 15px
    border-radius: var(--rounded-corner-border-radius) 
    color: #212223

    > div:first-child
        font-size: 16px 

    > div:last-child
        font-size: 11px 
        width: max-content 

  .user-profile-container
    display: flex
    align-items: center

    .user-profile
      display: flex
      align-items: center
      justify-content: space-evenly
      width: 85px

  .user-dd-triangle 
    height: 20px 
    width: auto 
    margin-left: -11px 

  .user-photo
    height: 40px 
    border-radius: 20px 

  .user-dd-arrow
    height: 5px
