:host
  .spacing-wrapper
    padding: 10px
    min-height: calc(100% - 20px)
    display: flex

  .app-container
    background-color: var(--primary-blue-dark)
    border-radius: var(--rounded-corner-border-radius)
    display: flex
    min-width: 1240px
    flex-grow: 1

    &.hidden-nav
      background-color: var(--white)

  .main-container
    border-radius: var(--rounded-corner-border-radius)
    background-color: var(--white)
    width: calc(100% - 50px)
    margin-left: 58px
    display: flex
    flex-direction: column
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    box-shadow: 0 6px 4px -4px rgba(0, 2, 3, 0.2)
    padding: 10px 35px
    gap: 10px

    &.hidden-nav-margin
      margin-left: 0
      width: 100%

  p
    margin: 0

  .spacer
    flex: 1

  .toolbar
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: solid 1px #d1d1d1
    padding-bottom: 10px


    #logo
      padding-left: 30px
      height: 30px
      max-height: 40px

  .main-container.hidden-nav-margin
    left: 130px

  footer
    bottom: 0 
    color: #ADADAD 
    opacity: 1 
    font-size: 12px

    &.hidden-nav-margin
      margin-left: 40px

  @media screen and (max-width: 760px)
    .toolbar .user-dd
      display: none

.user-dd
    width: auto
    align-items: center
    display: flex
    padding-right: 20px

    .user-name
        font-size: 14px
        width: max-content
        padding-right: 20px

.circle
    height: 40px
    width: 40px
    border-radius: 20px
    background-color: #677D8D
    color: var(--white)
    display: flex
    justify-content: space-evenly
    align-items: center

.user-dd-arrow
    height: 5px

.up-arrow 
    position: fixed
    border-radius: 50%
    padding: 9px 8px 7px 8px
    background-color: white
    right: 12px
    bottom: 10px
    box-shadow: 1px 1px 1px
    border: 0.1px solid #ccc
    padding-left: 10px

.dropbtn  
  padding: 16px 
  font-size: 16px 
  border: none 
  cursor: pointer 

.dropdown  
  position: relative 
  display: inline-block 
 

.dropdown-content  
  display: none 
  position: absolute 
  background-color: #f9f9f9 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) 
  cursor: pointer
  z-index: 1 
 

.dropdown-content a 
    color: black
    padding: 12px 16px
    text-decoration: none
    display: block


.dropdown-content a:hover 
    background-color: #f1f1f1


.dropdown:hover .dropdown-content 
    display: block

