<div class="toolbar" role="banner">
  <img
    id="logo"
    [ngClass]="{'hidden-nav-margin': navIsHidden}"
    width="100"
    alt="BCBSA Logo"
    src="assets/img/bcbsa_logo.png"
  />
  <div class="user-dd">
    <div>
      <h3>Hello, User</h3>
      <h6>Welcome back to BlueCross BlueShield</h6>
    </div>
    <div>
      <img class="user-dd-triangle" src="assets/img/triangle.png" />
      <img class="user-photo" src="https://randomuser.me/api/portraits/men/64.jpg" />
      <img class="user-dd-arrow" src="assets/img/show-more.png" />
    </div>
  </div>
</div>

<div class="content" role="main">
  <!-- <footer>
    &copy; 2022. All rights reserved
  </footer> -->
</div>

<router-outlet></router-outlet>
