<div class="spacing-wrapper">
  <div class="app-container" [class.hidden-nav]="navIsHidden">
    <app-navbar *ngIf="!navIsHidden"></app-navbar>
    <div [ngClass]="[navIsHidden ? ('main-container hidden-nav-margin') : ('main-container')]">
      <div class="toolbar" role="banner">
        <div>
          <img id="logo" src="../assets/img//logo.svg" alt="bcbsa-logo">
        </div>
        <div>
          <div class="user-dd">
            <div class="user-name">{{userName}}</div>
            <div class="circle">
              {{profileInitials | uppercase}}
            </div>
            
    
            <div class="dropdown">
              <img class="user-dd-arrow dropbtn" src="assets/img/show-more.png">
              <div class="dropdown-content">
              <a href="#">Help ?</a>
              <a *ngIf="isAuthenticated" (click)="logout()">Logout</a>
              </div>
            </div>
        </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      <footer [ngClass]="{'hidden-nav-margin': navIsHidden}">
        &copy; 2022. All rights reserved
      </footer>
    </div>
  </div>
</div>