.card-container
  border: 1px solid var(--border-light-grey)
  border-radius: var(--corner-border-radius)
  display: flex
  flex-wrap: wrap
  justify-content: center
  //position: absolute 
  top: 7.5rem
  margin: 2.5rem 4.375rem
  padding: 3.313rem 0 0
  //height: calc(100% - 20.625rem)
  //overflow-y: scroll
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    width: 0
    height: 0


  .card
    all: unset
    border-radius: var(--rounded-corner-border-radius)
    border: 1px solid var(--border-light-grey)
    box-shadow: 0px 5px 25px #52575D1A
    color: #098DC9
    cursor: pointer
    width: 26.875rem
    //height: 23.75rem
    margin: 0 3.625rem 3.813rem
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    transition: all 0.2s ease-in-out
    line-height: 1.5rem
    font-weight: bold
    overflow: hidden
    position: relative

    &.card-small
      height: 16px
      width: 168px

    &:hover
      transform: translateY(-3px)
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35)

    img
      border-radius: var(--border-radius)
      padding-bottom: 1.25rem
      height: 50%
      width: 100%
      margin: 0

    h4
      font-size: 1.625rem
      margin: 0

    p
      border-top: 1px solid var(--border-light-grey)
      color: rgba(0, 0, 0, 0.5)
      font-size: 1.063rem
      margin: 1.25rem 2.5rem
      padding-top: 0.875rem
    
    span
      position: absolute
      right: 40px
      bottom: 10px
      font-size: 14px

    .details-icon
      width: 23px
      height: 20px

    .details-btn
      display: flex
      justify-content: flex-end
      //height: 23px
      margin-right: 45px
      color: #3BA9C5
      opacity: 1

    .--mr-8
      margin-right: 8px

@media only screen and (min-width: 1280px)
  .card-container
    margin: 20px 30px 
    column-gap: 30px 
    padding: 33px 0 0
    //height: calc(100% - 17.95rem)

    .card
      width: 343px
      //height: 305px
      margin: 0px
      margin-bottom: 47px

@media only screen and (min-width: 1500px)
  .card-container
    margin: 2.5rem 4.375rem
    padding: 3.313rem 0 0
    column-gap: 30px  
    //height: calc(100% - 20.625rem)

    .card
      width: 26.875rem
      //height: 305px
      //margin: 0 3.625rem 3.813rem