body, html
  font-family: "Helvetica", sans-serif
  height: 100%
  margin: 0
  padding: 0
  width: 100%

@import "~@ng-select/ng-select/themes/material.theme.css"
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap')