body, html
  background-color: #E6EFF3
  margin: 0
  width: 100%
  height: calc(100% - 10px)

body
  overflow-y: auto
  overflow-x: hidden


@import "~@ng-select/ng-select/themes/material.theme.css"
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap')
@import ./assets/scss/global_variable.sass
@import ./assets/scss/global_style.sass