body, html
  font-family: "Helvetica", sans-serif
  height: 100%
  margin: 0
  padding: 0
  width: 100%

a
  color: #008BCC
  font-weight: bold

table
  margin: 40px 60px
  padding: 0

  th
    background: #008BCC
    color: #FFF
    padding: 10px

  tbody 
  
    tr:nth-child(odd)
      background-color: #d6f2ff

    tr:nth-child(even)
      background-color: #f3fbfd

    td
      padding: 16px

ul
  margin: 32px 0 48px
  padding: 0

  li
    list-style: none

.plans-table-header
  align-items: center
  display: flex
  width: 100%

  img
    cursor: pointer
    height: 20px
    padding: 0 20px

.plans-table
  margin-top: 40px
  border-collapse: collapse

.plans-table-border
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)

  th
    background-color: #FFF
    color: rgba(255, 255, 255, 0.0)
    height: 14px
    line-height: 14px
    padding-top: 0
    padding-bottom: 0
