.search
  background-color: #edf2f6
  border-radius: 20px
  height: 80px
  padding: 20px 40px
  margin-top: -60px
  position: absolute
  right: 40px
  width: 55%

  select
    background-color: #edf2f6
    border: none
    border-bottom: 1px solid #000
    margin: 30px 40px 0 0
    -webkit-appearance: none
    padding: 10px 10px 10px 0

