<div class="card-container">
  <a class="card" routerLink="/plans" routerLinkActive="active">
    <span>NDW</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <span>IPDS</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <span>MDS</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <span>MMI</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <span>PDR</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <span>VBP</span>
  </a>
</div>