<div class="card-container">
  <a class="card" routerLink="/plans">
    <img src="/assets/img/default-placeholder.png" />
    <h4>NDW</h4>
    <div>
      <p>New diabetes prevention program now available to Blue Shield of California members</p>
      <span>Details</span>
    </div>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <img src="/assets/img/default-placeholder.png" />
    <h4>IPDS</h4>
    <div>
      <p>A respiratory therapist volunteers on the COVID-19 front lines</p>
      <span>Details</span>
    </div>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <img src="/assets/img/default-placeholder.png" />
    <h4>MDS</h4>
    <div>
      <p>Lauren Smith, MD, MPH, joins Blue Cross Blue Shield of Massachusetts board of directors</p>
      <span>Details</span>
    </div>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <img src="/assets/img/default-placeholder.png" />
    <h4>MMI</h4>
    <div>
      <p>New diabetes prevention program now available to Blue Shield of California members</p>
      <span>Details</span>
    </div>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <img src="/assets/img/default-placeholder.png" />
    <h4>PDR</h4>
    <div>
      <p>A respiratory therapist volunteers on the COVID-19 front lines</p>
      <span>Details</span>
    </div>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.google.com">
    <img src="/assets/img/default-placeholder.png" />
    <h4>VBP</h4>
    <div>
      <p>Lauren Smith, MD, MPH, joins Blue Cross Blue Shield of Massachusetts board of directors</p>
      <span>Details</span>
    </div>
  </a>
</div>