<app-navbar></app-navbar>

<div class="plans-table">
  <div class="table-title">
    NDW - L2 Rules
  </div>
  
  <div class="search">
    <h4>
      Search Filters
    </h4>
    <div>
      <ng-select class="custom" [(ngModel)]="selectedSubmissionGroupOption" placeholder="Submission Group" (change)="handleSearchFilterChange('submissionGroup', selectedSubmissionGroupOption, 'number')">
        <ng-option
          *ngFor="let submissionGroupOption of options.submissionGroupOptions"
          [value]="submissionGroupOption"
        >
          {{submissionGroupOption}}
        </ng-option>
      </ng-select>
      
      <ng-select class="custom" [(ngModel)]="selectedPaidThroughPeriodOption" placeholder="Paid Through Period" (change)="handleSearchFilterChange('paidThroughPeriod', selectedPaidThroughPeriodOption, 'number')">
        <ng-option *ngFor="let paidThroughPeriodOption of options.paidThroughPeriodOptions" [value]="paidThroughPeriodOption">
          {{paidThroughPeriodOption}}
        </ng-option>
      </ng-select>

      <ng-select class="custom" [(ngModel)]="selectedControlNumberOption" placeholder="Submission Control" (change)="handleSearchFilterChange('controlNumber', selectedControlNumberOption, 'number')">
        <ng-option *ngFor="let controlNumberOption of options.controlNumberOptions" [value]="controlNumberOption">
          {{controlNumberOption}}
        </ng-option>
      </ng-select>

      <ng-select class="custom last-select" [(ngModel)]="selectedCategoryOption" placeholder="Category" (change)="handleSearchFilterChange('category', selectedCategoryOption, 'string')">
        <ng-option *ngFor="let categoryOption of options.categoryOptions" [value]="categoryOption">
          {{categoryOption}}
        </ng-option>
      </ng-select>

      <ng-select class="custom" [(ngModel)]="selectedModeOption" placeholder="Mode" (change)="handleSearchFilterChange('mode', selectedModeOption, 'string')">
        <ng-option *ngFor="let modeOption of options.modeOptions" [value]="modeOption">
          {{modeOption}}
        </ng-option>
      </ng-select>

      <button (click)="search()">Search</button>
    </div>
  </div>

  <table>
    <colgroup span="12"></colgroup>
    <thead>
      <tr>
        <th *ngFor="let header of headers; index as i;">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <!-- {plans.map(({group, planName, throughPeriod, controlNumber, dateReceived, category, mode, status, currentState, lastUpdated, dueDate, reportScore}, idx) => ( -->
        <tr *ngFor="let plan of plans; index as i;" [ngClass]="selectedRow === i ? 'selected' : ''" (click)="selectRow(i)">
          <td>{{plan.submissionGroup}}</td>
          <td>{{plan.planName}}</td>
          <td>{{plan.paidThroughPeriod}}</td>
          <td>
            <a routerLink="/" target='_blank' rel='noopener noreferrer'>
              {{plan.controlNumber}}
            </a>
          </td>
          <td>{{plan.dateReceived | date:'MM/dd/yyyy'}}</td>
          <td>{{plan.category}}</td>
          <td>{{plan.mode}}</td>
          <td>{{plan.status}}</td>
          <td>{{plan.currentState}}</td>
          <td>{{plan.lastUpdated | date:'MM/dd/yyyy'}}</td>
          <td>{{plan.dueDate | date:'MM/dd/yyyy'}}</td>
          <td>{{plan.reportScore}}</td>
        </tr>
    </tbody>
  </table>
</div>
