<app-navbar></app-navbar>

<div class="plans-table">
  <div class="table-title">
    NDW - Summary Page
  </div>
  
  <div class="search">
    <div>
      <ng-select class="custom" [(ngModel)]="selectedSubmissionGroupOption" placeholder="Submission Group" (change)="handleSearchFilterChange('submissionGroup', selectedSubmissionGroupOption)">
        <ng-option
          *ngFor="let submissionGroupOption of options.submissionGroupOptions"
          [value]="submissionGroupOption"
        >
          {{submissionGroupOption}}
        </ng-option>
      </ng-select>
      
      <ng-select class="custom" [(ngModel)]="selectedPaidThroughPeriodOption" placeholder="Paid Through Period" (change)="handleSearchFilterChange('paidThroughPeriod', selectedPaidThroughPeriodOption)">
        <ng-option *ngFor="let paidThroughPeriodOption of options.paidThroughPeriodOptions" [value]="paidThroughPeriodOption">
          {{paidThroughPeriodOption || getCurrentPaidDate()}}
        </ng-option>
      </ng-select>

      <ng-select class="custom" [(ngModel)]="selectedSubmissionCurrentStateOption" placeholder="Submission Current State" (change)="handleSearchFilterChange('submissionCurrentState', selectedSubmissionCurrentStateOption)">
        <ng-option *ngFor="let submissionCurrentStateOption of options.submissionCurrentStateOptions" [value]="submissionCurrentStateOption">
          {{submissionCurrentStateOption}}
        </ng-option>
      </ng-select>

      <ng-select class="custom last-select" [(ngModel)]="selectedCategoryOption" placeholder="Category" (change)="handleSearchFilterChange('category', selectedCategoryOption)">
        <ng-option *ngFor="let categoryOption of options.categoryOptions" [value]="categoryOption">
          {{categoryOption}}
        </ng-option>
      </ng-select>

      <ng-select class="custom last-select" [(ngModel)]="selectedStatusOption" placeholder="Submission Status" (change)="handleSearchFilterChange('status', selectedStatusOption)">
        <ng-option *ngFor="let statusOption of options.statusOptions" [value]="statusOption">
          {{statusOption}}
        </ng-option>
      </ng-select>
      <div class="search-btn" (click)="search()">
        <img src="assets/img/search.png" >
      </div>
    </div>
  </div>
  <table>
    <colgroup span="12"></colgroup>
    <thead>
      <tr>
        <th *ngFor="let header of headers; index as i;">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plan of plans; index as i;">
        <td>{{plan.submissionGroup}}</td>
        <td class="left-aligned">{{plan.planName}}</td>
        <td>{{plan.paidThroughPeriod}}</td>
        <td>
          <a routerLink="/plans/{{plan.submissionControl}}" target='_blank' rel='noopener noreferrer'>
            {{plan.submissionControl}}
          </a>
        </td>
        <td>{{plan.submissionReceivedDate | date:'MM/dd/yyyy'}}</td>
        <td>{{plan.category}}</td>
        <td>{{plan.mode}}</td>
        <td>{{plan.status}}</td>
        <td>{{plan.submissionCurrentState}}</td>
        <td>{{plan.lastUpdated | date:'MM/dd/yyyy h:mm a'}}</td>
        <td>{{plan.planValidationDue | date:'MM/dd/yyyy'}}</td>
        <td *ngIf="plan.reportScoreL2 !== undefined" [ngClass]="{'green': plan.reportScoreL2 === 0, 'yellow': plan.reportScoreL2 > 0 && plan.reportScoreL2 < 1, 'red':  plan.reportScoreL2 >= 1}">
          <p>{{plan.reportScoreL2}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="plans.length === 0 && isSearching" class="no-results-msg">No plans match your search</div>
</div>
