table
  margin: 40px 60px 40px 120px
  padding: 0
  border: 1px solid #e5e9e8
  border-radius: 25px
  border-spacing: 0
  font-weight: 500
  overflow: hidden

  tr.selected
    background-color: #d6f2ff !important

  th
    border-bottom: 1px solid #e5e9e8
    padding: 10px
    text-align: left

  th
    padding: 20px

  th,
  td
    color: #7a8789

  tbody
    tr:nth-child(even)
      background-color: #edf2f6

    td
      padding: 16px

      a
        color: #5f696b

ul
  margin: 32px 0 48px
  padding: 0

  li
    list-style: none

.plans-table-header
  align-items: center
  display: flex
  width: 100%

  img
    cursor: pointer
    height: 20px
    padding: 0 20px

.plans-table
  .table-title
    font-size: 24px
    margin: 0 140px

.plans-table-border
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)

  th
    background-color: #FFF
    color: rgba(255, 255, 255, 0.0)
    height: 14px
    line-height: 14px
    padding-top: 0
    padding-bottom: 0
