<div>
  <div class="plan-header">
    <ul>
      <li>Plan Name: {{planDescription.planName}}</li>
      <li>Plan Code: {{planDescription.group}}</li>
      <li>Submission Control Number: {{planDescription.controlNumber}}</li>
      <li>Paid Through Period: {{planDescription.throughPeriod}}</li>
      <li>Submission Mode: {{planDescription.mode}}</li>
    </ul>
  </div>

  <div *ngIf="plan.rejects" class="plan" [ngClass]="{'closed': !level2ChecklistIsOpen}">
    <div class="checklist-header">
      <img src="assets/img/arrow-drop-down-circle.png" (click)="toggleChecklist(2)" />
      <h1>L2 Checklist</h1>
    </div>
    <div *ngIf="level2ChecklistIsOpen">
      <div class="plan-table-wrapper">
        <app-plan-table [title]="'Rejects'" [tableData]="plan.rejects"></app-plan-table>
      </div>
      <div class="plan-table-wrapper">
        <app-plan-table [title]="'Transformations'" [tableData]="plan.transformations"></app-plan-table>
      </div>
      <div class="plan-table-wrapper">
        <app-plan-table [title]="'Analytical Warnings'" [tableData]="plan.analyticalWarnings"></app-plan-table>
      </div>
    </div>
  </div>
</div>