<div>
  <div class="plan-header">
    <ul>
      <li>
        <h4>Plan Name:</h4>
        <p>{{planDescription.planName}}</p>
      </li>
      <li>
        <h4>Plan Code:</h4>
        <p>{{planDescription.group}}</p>
      </li>
      <li>
        <h4>Submission Control Number:</h4>
        <p>{{planDescription.controlNumber}}</p>
      </li>
      <li>
        <h4>Paid Through Period:</h4>
        <p>{{planDescription.throughPeriod}}</p>
      </li>
      <li>
        <h4>Submission Mode:</h4>
        <p>{{planDescription.mode}}</p>
      </li>
    </ul>
    <div>
      <button>Pass</button>
      <button>Reject</button>
    </div>
  </div>

  <div *ngIf="plan.rejects" class="plan" [ngClass]="{'closed': !level2ChecklistIsOpen}">
    <div class="checklist-header">
      <h1>L2 Checklist</h1>
      <img src="assets/img/show-more-white.png" (click)="toggleChecklist(2)" class="show-table-img"/>
    </div>
    <div *ngIf="level2ChecklistIsOpen">
      <div class="plan-table-wrapper">
        <app-plan-table [title]="'Rejects'" [tableData]="plan.rejects" [rejectsTableIsOpen]="rejectsTableIsOpen" [toggleTable]="toggleRejectsTable"></app-plan-table>
      </div>
      <div class="plan-table-wrapper">
        <app-plan-table [title]="'Transformations'" [tableData]="plan.transformations" [transformationsTableIsOpen]="transformationsTableIsOpen" [toggleTable]="toggleTransformationsTable"></app-plan-table>
      </div>
      <div class="plan-table-wrapper">
        <app-plan-table [title]="'Analytical Warnings'" [tableData]="plan.analyticalWarnings" [analyticalWarningsTableIsOpen]="analyticalWarningsTableIsOpen" [toggleTable]="toggleAnalyticalWarningsTable"></app-plan-table>
      </div>
    </div>
  </div>
</div>