.plan
  background-color: #098BC9
  border-radius: 20px
  color: #fff
  margin: 40px 60px
  padding: 0 8px

.plan-table-wrapper
  background-color: #edf2f6
  border-radius: 20px
  color: #7a8789

.plan-header
  align-items: center
  background-color: #edf2f6
  border-radius: 20px
  display: flex
  height: 100px
  margin: -100px 40px 40px 60px

  ul
    display: flex
    list-style-type: none

    li
      line-height: 24px
      margin-right: 20px

@media screen and (max-width: 1650px)
  .plan
    overflow: scroll
    margin-right: 0